# Sepsis onset time

- Definition: calculate all the patients. If any of them with SOFA score change within the first antibiotics or blood culture time -48 to +24 hours

In [82]:
import pandas as pd
import numpy as np

In [89]:
sepsis_df = pd.read_csv('../data/sepsis3-df.csv')
print(sepsis_df.shape)
print(sepsis_df.columns)

(61532, 48)
Index(['icustay_id', 'hadm_id', 'excluded', 'intime', 'outtime', 'dbsource',
       'suspected_infection_time_poe', 'suspected_infection_time_poe_days',
       'specimen_poe', 'positiveculture_poe', 'antibiotic_time_poe',
       'blood_culture_time', 'blood_culture_positive', 'age', 'gender',
       'is_male', 'ethnicity', 'race_white', 'race_black', 'race_hispanic',
       'race_other', 'metastatic_cancer', 'diabetes', 'height', 'weight',
       'bmi', 'first_service', 'hospital_expire_flag', 'thirtyday_expire_flag',
       'icu_los', 'hosp_los', 'sepsis_angus', 'sepsis_martin',
       'sepsis_explicit', 'septic_shock_explicit', 'severe_sepsis_explicit',
       'sepsis_nqf', 'sepsis_cdc', 'sepsis_cdc_simple', 'elixhauser_hospital',
       'vent', 'sofa', 'lods', 'sirs', 'qsofa', 'qsofa_sysbp_score',
       'qsofa_gcs_score', 'qsofa_resprate_score'],
      dtype='object')

## Map outtime to the table

In [90]:
# construct dictionary that maps the icustay to the relative time
outtime_dict = dict()

for i in range(sepsis_df.shape[0]):
    icustay_id = sepsis_df.iloc[i]['icustay_id']
    intime = sepsis_df.iloc[i]['intime']
    outtime = sepsis_df.iloc[i]['outtime']
    if pd.isna(outtime):
        print('None! But impossible!')
        continue

    outtime_dict[int(icustay_id)] = (intime, outtime)

None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!
None! But impossible!

In [91]:
test_list_df = pd.read_csv('../data/my-in-hospital-mortality2/test/listfile.csv')
test_list_df

,icustay,filename,mortality,mortality_hours,intime,deathtime,outtime
0,200009,29904_episode1_timeseries.csv,0,NaN,2189-11-30 10:34:32,NaN,2189-12-02 14:17:37
1,200025,19167_episode1_timeseries.csv,0,NaN,2113-08-25 09:29:12,NaN,2113-08-28 12:42:58
2,200047,26135_episode1_timeseries.csv,0,NaN,2190-01-30 21:47:36,NaN,2190-01-31 15:06:57
3,200050,78716_episode2_timeseries.csv,0,NaN,2149-07-14 17:51:18,NaN,2149-07-15 12:19:36
4,200063,99052_episode1_timeseries.csv,0,NaN,2141-03-09 23:20:49,NaN,2141-04-05 16:33:28
5,200077,2530_episode2_timeseries.csv,0,NaN,2163-04-08 17:36:00,NaN,2163-04-24 14:40:00
6,200098,73499_episode1_timeseries.csv,0,NaN,2136-03-27 11:50:32,NaN,2136-03-31 17:18:39
7,200130,12411_episode2_timeseries.csv,0,NaN,2184-07-09 02:57:00,NaN,2184-07-10 01:41:00
8,200140,27874_episode1_timeseries.csv,0,NaN,2197-01-18 05:39:31,NaN,2197-02-07 15:00:25
9,200161,30173_episode1_timeseries.csv,0,NaN,2142-03-09 17:26:35,NaN,2142-03-10 18:32:52
10,200197,27480_episode1_timeseries.csv,0,NaN,2177-09-06 03:14:23,NaN,2177-09-07 15:32:04
11,200225,43320_episode1_timeseries.csv,0,NaN,2127-09-13 14:12:37,NaN,2127-09-15 16:17:24
12,200257,4282_episode1_timeseries.csv,0,NaN,2116-03-31 02:10:00,NaN,2116-04-01 00:23:00
13,200261,6428_episode3_timeseries.csv,0,NaN,2116-11-09 06:43:01,NaN,2116-11-10 21:04:17
14,200262,59485_episode1_timeseries.csv,0,NaN,2115-01-30 00:36:43,NaN,2115-02-01 15:54:56
15,200313,92063_episode1_timeseries.csv,0,NaN,2123-11-17 14:34:51,NaN,2123-11-19 17:17:09
16,200346,42809_episode1_timeseries.csv,0,NaN,2118-12-05 16:16:24,NaN,2118-12-07 22:21:02
17,200361,20905_episode1_timeseries.csv,0,NaN,2160-10-15 10:31:30,NaN,2160-10-16 14:47:59
18,200381,24568_episode1_timeseries.csv,0,NaN,2163-04-22 22:15:00,NaN,2163-04-23 04:59:00
19,200391,15312_episode1_timeseries.csv,0,NaN,2144-02-25 09:30:03,NaN,2144-03-17 18:16:01
20,200402,56652_episode1_timeseries.csv,0,NaN,2169-10-02 16:53:43,NaN,2169-10-04 10:23:37
21,200403,18837_episode1_timeseries.csv,0,NaN,2177-06-26 01:03:59,NaN,2177-06-28 13:02:09
22,200410,27476_episode1_timeseries.csv,0,NaN,2147-06-21 05:12:59,NaN,2147-06-22 15:55:13
23,200426,19931_episode1_timeseries.csv,0,NaN,2183-08-21 15:15:00,NaN,2183-08-22 12:33:00
24,200428,24666_episode1_timeseries.csv,0,NaN,2171-10-25 10:38:11,NaN,2171-10-28 09:39:19
25,200446,7918_episode1_timeseries.csv,0,NaN,2152-10-18 02:33:17,NaN,2152-10-21 18:50:29
26,200457,6428_episode5_timeseries.csv,0,NaN,2119-11-03 15:29:48,NaN,2119-11-05 15:20:46
27,200459,18223_episode1_timeseries.csv,0,NaN,2124-12-21 12:54:50,NaN,2124-12-23 12:04:45
28,200474,2115_episode1_timeseries.csv,1,12.847500,2173-06-22 20:05:09,2173-06-27 08:56:00,2173-06-27 09:57:13
29,200486,18756_episode2_timeseries.csv,0,NaN,2147-08-07 06:54:01,NaN,2147-08-09 18:11:44
...,...,...,...,...,...,...,...
6264,299483,8481_episode2_timeseries.csv,1,19.585833,2109-05-16 16:24:51,2109-05-23 12:00:00,2109-05-20 22:24:09
6265,299496,89950_episode1_timeseries.csv,0,NaN,2165-10-16 03:41:49,NaN,2165-10-18 18:41:51
6266,299502,25445_episode1_timeseries.csv,0,NaN,2189-05-03 15:27:53,NaN,2189-05-04 16:04:09
6267,299512,17758_episode2_timeseries.csv,1,18.213333,2117-02-01 17:47:12,2117-02-05 12:00:00,2117-02-06 02:34:07
6268,299523,6108_episode1_timeseries.csv,0,NaN,2164-10-10 13:43:39,NaN,2164-10-17 17:42:20
6269,299565,2562_episode1_timeseries.csv,0,NaN,2116-05-29 17:10:02,NaN,2116-06-04 12:28:59
6270,299579,24331_episode1_timeseries.csv,0,NaN,2156-02-19 11:16:13,NaN,2156-02-22 13:54:49
6271,299590,6314_episode1_timeseries.csv,0,NaN,2162-08-12 16:37:00,NaN,2162-08-13 20:11:00
6272,299622,22206_episode2_timeseries.csv,0,NaN,2118-08-08 11:01:28,NaN,2118-08-10 17:44:52
6273,299626,1616_episode3_timeseries.csv,0,NaN,2124-03-29 14:13:14,NaN,2124-03-31 12:00:54
6274,299643,57569_episode1_timeseries.csv,0,NaN,2188-11-21 21:52:03,NaN,2188-11-25 09:47:04
6275,299655,91033_episode1_timeseries.csv,1,13.084444,2199-08-14 15:34:56,2199-08-22 04:40:00,2199-08-16 17:38:32
6276,299680,25130_episode1_timeseries.csv,0,NaN,2116-02-24 11:05:46,NaN,2116-02-25 16:57:10
6277,299707,402_episode4_timeseries.csv,0,NaN,2156-11-11 19:59:05,NaN,2156-11-14 00:51:50
6278,299753,4661_episode1_timeseries.csv,0,NaN,2150-11-29 14:18:44,NaN,2150-12-12 19:04:43
6279,299769,64999_episode2_timeseries.csv,0,NaN,2185-05-10 10:49:05,NaN,2185-05-11 21:02:35
6280,299776,60660_episode1_timeseries.csv,0,NaN,2144-02-29 19:20:12,NaN,2144-03-02 22:07:37
6281,299792,21494_episode1_timeseries.csv,0,NaN,2102-04-04 10:53:21,NaN,2102-04-05 13:06:06
6282,299794,26392_episode1_timeseries.csv,0,NaN,2129-04-09 16:55:47,NaN,2129-04-18 17:06:55
6283,299821,17674_episode1_timeseries.csv,0,NaN,2104-10-09 20:40:00,NaN,2104-10-13 17:46:00
6284,299826,45460_episode1_timeseries.csv,0,NaN,2172-02-26 18:28:23,NaN,2172-02-28 17:51:35
6285,299865,27170_episode1_timeseries.csv,0,NaN,2153-01-16 09:48:04,NaN,2153-01-17 22:08:52
6286,299877,1936_episode2_timeseries.csv,0,NaN,2137-12-06 05:40:02,NaN,2137-12-07 20:18:04
6287,299880,66165_episode1_timeseries.csv,0,NaN,2159-06-02 20:04:41,NaN,2159-06-04 20:46:51
6288,299888,12026_episode1_timeseries.csv,0,NaN,2128-04-10 06:32:26,NaN,2128-04-12 20:44:48
6289,299917,28317_episode1_timeseries.csv,0,NaN,2151-06-28 22:27:19,NaN,2151-06-30 18:03:04
6290,299929,68184_episode1_timeseries.csv,0,NaN,2145-01-14 22:33:54,NaN,2145-01-16 17:40:10
6291,299931,975_episode1_timeseries.csv,0,NaN,2139-01-12 22:47:16,NaN,2139-01-15 15:48:39
6292,299941,22068_episode1_timeseries.csv,0,NaN,2178-09-19 07:30:47,NaN,2178-09-20 17:35:36
6293,299951,11850_episode1_timeseries.csv,0,NaN,2193-08-28 18:27:00,NaN,2193-08-31 17:04:00

In [86]:
test_list_df = pd.read_csv('../data/my-in-hospital-mortality2/test/listfile.csv')
outtime_arr = []
for i in range(test_list_df.shape[0]):
    icustay_id = test_list_df.iloc[i]['icustay']
    if icustay_id not in outtime_dict:
        print('%d not in the dict!' % icustay_id)
    
    intime, outtime = outtime_dict[icustay_id]
    assert intime == test_list_df.iloc[i]['intime']
    
    outtime_arr.append(outtime)

test_list_df['outtime'] = outtime_arr
test_list_df.to_csv('../data/my-in-hospital-mortality2/test/listfile.csv', index=None)

In [92]:
train_list_df = pd.read_csv('../data/my-in-hospital-mortality2/train/listfile.csv')
outtime_arr = []
for i in range(train_list_df.shape[0]):
    icustay_id = train_list_df.iloc[i]['icustay']
    if icustay_id not in outtime_dict:
        print('%d not in the dict!' % icustay_id)
    
    intime, outtime = outtime_dict[icustay_id]
    outtime_arr.append(outtime)

train_list_df['outtime'] = outtime_arr
train_list_df.to_csv('../data/my-in-hospital-mortality2/train/listfile.csv', index=None)

## Find sepsis

In [88]:
sepsis_df

,icustay_id,hadm_id,excluded,intime,outtime,dbsource,suspected_infection_time_poe,suspected_infection_time_poe_days,specimen_poe,positiveculture_poe,...,sepsis_cdc_simple,elixhauser_hospital,vent,sofa,lods,sirs,qsofa,qsofa_sysbp_score,qsofa_gcs_score,qsofa_resprate_score
0,200001,152234,1,2181-11-25 19:06:12,2181-11-28 20:59:25,metavision,2181-11-18 11:10:00,7.330694,BLOOD CULTURE,0.0,...,0,3,0,6,7,3,2,1.0,0.0,1.0
1,200003,163557,1,2199-08-02 19:50:04,2199-08-08 17:09:18,carevue,2199-08-02 21:02:00,-0.049954,BLOOD CULTURE,1.0,...,1,0,1,6,3,4,2,1.0,0.0,1.0
2,200006,189514,1,2159-09-03 11:28:14,2159-09-04 19:08:10,carevue,NaN,NaN,NaN,NaN,...,0,-5,1,1,2,2,2,1.0,0.0,1.0
3,200007,129310,1,2109-02-17 10:03:37,2109-02-18 17:03:12,carevue,NaN,NaN,NaN,NaN,...,0,0,0,1,2,2,2,1.0,0.0,1.0
4,200009,129607,1,2189-11-30 10:34:32,2189-12-02 14:17:37,carevue,NaN,NaN,NaN,NaN,...,0,-4,1,3,4,4,2,1.0,0.0,1.0
5,200010,192256,1,2132-08-04 23:03:19,2132-08-05 22:14:11,metavision,NaN,NaN,NaN,NaN,...,0,-2,0,0,1,2,1,0.0,0.0,1.0
6,200011,121562,1,2188-08-06 01:39:24,2188-08-07 16:50:53,metavision,2188-08-05 21:41:00,0.165556,URINE,1.0,...,1,8,1,3,4,1,1,0.0,0.0,1.0
7,200012,177527,1,2153-12-23 05:12:55,2153-12-23 15:55:54,carevue,2153-12-23 00:30:00,0.196470,BLOOD CULTURE,0.0,...,0,0,0,1,1,3,2,1.0,0.0,1.0
8,200014,127229,1,2105-02-16 23:16:48,2105-02-18 16:53:29,carevue,2105-02-17 00:00:00,-0.030000,BLOOD CULTURE,0.0,...,0,0,1,3,5,4,2,1.0,0.0,1.0
9,200016,117458,1,2150-12-02 15:59:20,2150-12-03 14:54:29,metavision,NaN,NaN,NaN,NaN,...,0,0,0,1,3,2,1,1.0,0.0,0.0
10,200017,135069,1,2138-03-17 21:54:36,2138-05-14 17:12:41,carevue,NaN,NaN,NaN,NaN,...,0,0,1,6,2,1,0,NaN,NaN,NaN
11,200018,109512,1,2157-11-16 15:06:16,2157-11-16 17:26:32,carevue,NaN,NaN,NaN,NaN,...,0,0,0,0,1,2,0,NaN,NaN,NaN
12,200019,112486,1,2178-07-08 09:03:12,2178-07-11 10:28:40,carevue,2178-07-08 21:51:00,-0.533194,BLOOD CULTURE,0.0,...,0,0,1,5,7,3,2,0.0,1.0,1.0
13,200020,158088,1,2174-05-14 00:32:29,2174-05-14 08:23:35,carevue,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,NaN,NaN,NaN
14,200021,109307,0,2114-12-26 19:45:12,2114-12-27 22:46:28,metavision,NaN,NaN,NaN,NaN,...,0,4,1,4,7,3,3,1.0,1.0,1.0
15,200023,145058,1,2136-08-04 19:52:19,2136-08-04 23:03:13,carevue,2136-08-04 21:15:00,-0.057419,BLOOD CULTURE - NEONATE,0.0,...,0,0,0,0,0,2,0,NaN,NaN,NaN
16,200024,179633,1,2127-03-03 16:09:07,2127-03-04 01:18:06,metavision,2127-02-21 12:50:00,10.138275,BLOOD CULTURE,0.0,...,0,17,1,7,3,4,1,1.0,0.0,0.0
17,200025,164161,1,2113-08-25 09:29:12,2113-08-28 12:42:58,carevue,NaN,NaN,NaN,NaN,...,0,-13,1,3,2,4,2,1.0,0.0,1.0
18,200028,181955,0,2133-10-29 17:13:50,2133-11-01 14:55:14,metavision,NaN,NaN,NaN,NaN,...,0,8,1,10,6,3,2,1.0,0.0,1.0
19,200029,102161,1,2115-03-29 20:01:10,2115-03-30 01:13:37,carevue,NaN,NaN,NaN,NaN,...,0,0,0,11,9,3,2,1.0,0.0,1.0
20,200030,165426,1,2150-11-13 14:08:02,2150-11-19 17:51:59,carevue,2150-11-13 00:00:00,0.588912,URINE,1.0,...,1,9,0,7,4,4,2,1.0,0.0,1.0
21,200031,160954,1,2109-07-16 23:37:05,2109-07-17 16:58:27,carevue,NaN,NaN,NaN,NaN,...,0,0,0,1,3,1,0,0.0,0.0,0.0
22,200033,198650,0,2198-08-07 17:56:17,2198-08-21 14:59:18,metavision,2198-08-08 01:00:00,-0.294248,MRSA SCREEN,0.0,...,1,5,0,1,1,2,0,0.0,0.0,0.0
23,200034,145866,1,2186-01-20 10:26:04,2186-01-23 15:38:36,metavision,NaN,NaN,NaN,NaN,...,0,3,1,4,5,3,2,1.0,1.0,0.0
24,200035,152416,1,2156-10-09 13:56:42,2156-10-10 18:02:07,metavision,2156-10-07 16:50:00,1.879653,BLOOD CULTURE,0.0,...,0,2,0,2,1,3,1,0.0,0.0,1.0
25,200036,159243,1,2181-08-26 16:38:25,2181-08-29 16:28:48,carevue,2181-08-26 15:00:00,0.068345,BLOOD CULTURE,0.0,...,1,20,0,8,10,2,3,1.0,1.0,1.0
26,200037,150812,1,2141-08-07 09:29:48,2141-08-25 17:16:56,carevue,2141-08-07 10:00:00,-0.020972,BLOOD CULTURE - NEONATE,0.0,...,0,0,1,4,1,2,0,NaN,NaN,NaN
27,200038,175436,1,2143-10-24 20:35:24,2143-10-25 22:00:02,metavision,2143-10-24 16:57:00,0.151667,BLOOD CULTURE,0.0,...,0,0,0,6,6,1,2,0.0,1.0,1.0
28,200039,135441,1,2121-12-26 03:25:00,2122-01-01 15:23:00,carevue,NaN,NaN,NaN,NaN,...,0,-1,0,2,2,3,3,1.0,1.0,1.0
29,200040,182654,1,2153-10-24 16:01:41,2153-10-26 11:39:00,metavision,NaN,NaN,NaN,NaN,...,0,9,0,1,1,2,1,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61502,299952,186465,1,2170-01-24 06:39:26,2170-03-19 16:05:24,carevue,2170-01-24 07:00:00,-0.014282,BLOOD CULTURE - NEONATE,0.0,...,0,0,0,7,2,1,0,NaN,NaN,NaN
61503,299954,118320,1,2131-12-06 18:04:32,2131-12-07 14:34:06,carevue,NaN,NaN,NaN,NaN,...,0,0,0,4,5,1,1,0.0,0.0,1.0
61504,299955,162631,1,2113-05-02 03:53:21,2113-05-03 15:56:01,carevue,2113-05-01 20:30:00,0.307882,BLOOD CULTURE,0.0,...,1,6,0,6,5,2,3,1.0,1.0,1.0
61505,299956,108958,1,2177-05-29 07:38:54,2177-06-25 14:06:01,metavision,2177-05-29 00:30:00,0.297847,BLOOD CULTURE,0.0,...,1,11,1,12,12,4,3,1.0,1.0,1.0
61506,299957,129555,1,2132-10-13 10:41:17,2132-10-15 12:50:53,metavision,2132-10-10 16:15:00,2.768252,Staph aureus Screen,0.0,...,0,1,1,2,3,2,2,1.0,0.0,1.0
61507,299958,109225,1,2138-08-03 16:55:00,2138-08-04 18:24:00,carevue,NaN,NaN,NaN,NaN,...,0,-1,0,0,0,0,0,NaN,NaN,NaN
61508,299960,119996,1,2201-04-08 16:58:17,2201-04-10 14:26:55,carevue,NaN,NaN,NaN,NaN,...,0,3,0,2,0,3,2,1.0,0.0,1.0
61509,299961,165022,1,2108-10-05 19:41:16,2108-10-14 13:36:34,carevue,2108-10-06 10:45:00,-0.627593,BLOOD CULTURE,0.0,...,1,0,1,11,11,4,2,1.0,1.0,0.0
61510,299962,146497,0,2195-11-25 19:04:06,2195-11-26 13:21:12,metavision,NaN,NaN,NaN,NaN,...,0,0,0,5,6,2,2,1.0,0.0,1.0
61511,299963,131089,1,2133-01-29 01:09:38,2133-03-16 12:13:34,carevue,2133-01-29 01:15:00,-0.003727,BLOOD CULTURE - NEONATE,0.0,...,0,0,1,9,3,2,0,NaN,NaN,NaN
61512,299964,149336,1,2122-07-13 06:14:31,2122-07-15 21:11:41,carevue,NaN,NaN,NaN,NaN,...,0,3,0,3,3,3,2,1.0,0.0,1.0
61513,299967,104422,1,2155-08-19 11:09:01,2155-08-21 16:20:19,carevue,NaN,NaN,NaN,NaN,...,0,0,1,3,2,4,2,1.0,0.0,1.0
61514,299968,179044,1,2143-03-27 15:26:33,2143-04-02 17:33:25,carevue,2143-03-27 15:50:00,-0.016285,BLOOD CULTURE - NEONATE,0.0,...,0,0,0,6,1,2,0,NaN,NaN,NaN
61515,299969,102678,1,2136-06-29 10:49:34,2136-06-30 17:47:50,carevue,NaN,NaN,NaN,NaN,...,0,0,1,5,4,4,2,1.0,0.0,1.0
61516,299971,118512,1,2114-04-07 18:09:00,2114-04-08 14:58:00,carevue,NaN,NaN,NaN,NaN,...,0,0,0,1,1,2,1,0.0,0.0,1.0
61517,299972,150240,1,2174-05-12 05:21:41,2174-05-16 18:29:25,carevue,NaN,NaN,NaN,NaN,...,0,-3,1,6,4,3,1,1.0,0.0,0.0
61518,299973,173478,1,2167-04-28 03:07:42,2167-04-29 06:34:43,carevue,NaN,NaN,NaN,NaN,...,0,0,1,7,7,3,2,0.0,1.0,1.0
61519,299976,101608,1,2149-02-20 10:22:49,2149-02-23 16:18:20,carevue,NaN,NaN,NaN,NaN,...,0,0,1,5,4,3,2,1.0,0.0,1.0
61520,299979,142693,1,2127-12-05 02:16:42,2127-12-06 18:15:12,metavision,2127-12-02 16:20:00,2.414375,BLOOD CULTURE,0.0,...,0,-4,0,1,2,2,2,1.0,0.0,1.0
61521,299981,129682,1,2168-08-04 10:58:20,2168-08-06 17:02:09,carevue,2168-08-01 18:51:00,2.671759,SWAB,1.0,...,0,-1,1,5,6,4,2,1.0,0.0,1.0
61522,299984,154397,1,2185-09-13 11:01:26,2185-09-27 18:40:36,carevue,2185-09-18 00:13:00,-4.549699,SPUTUM,1.0,...,0,3,1,5,6,2,2,1.0,0.0,1.0
61523,299986,126991,1,2116-12-17 18:29:21,2116-12-19 15:42:56,carevue,2116-12-21 00:00:00,-3.229618,URINE,0.0,...,0,0,0,2,1,1,1,0.0,0.0,1.0
61524,299987,122737,1,2190-10-20 18:35:15,2190-10-21 15:44:43,carevue,NaN,NaN,NaN,NaN,...,0,-1,0,1,2,1,2,1.0,0.0,1.0
61525,299988,161707,1,2190-02-02 08:14:45,2190-02-23 21:09:36,carevue,2190-02-03 00:00:00,-0.656424,URINE,0.0,...,1,0,1,6,7,4,2,1.0,0.0,1.0
61526,299992,186679,1,2105-11-21 21:14:34,2105-12-12 16:46:10,carevue,2105-11-21 00:00:00,0.885116,URINE,0.0,...,1,7,1,4,3,4,2,1.0,0.0,1.0
61527,299993,169431,1,2149-11-13 21:01:05,2149-11-16 16:57:30,carevue,NaN,NaN,NaN,NaN,...,0,0,0,0,1,4,1,0.0,0.0,1.0
61528,299994,177406,1,2114-12-09 11:56:00,2114-12-15 20:29:14,carevue,2114-12-10 19:14:00,-1.304167,MRSA SCREEN,0.0,...,0,15,0,5,1,3,2,1.0,0.0,1.0
61529,299995,134959,1,2116-03-04 17:44:39,2116-03-06 18:03:55,carevue,2116-03-04 14:50:00,0.121285,BLOOD CULTURE,0.0,...,0,0,1,3,2,3,1,0.0,0.0,1.0
61530,299998,158288,0,2181-07-05 18:47:40,2181-07-07 17:24:38,metavision,2181-07-05 09:12:00,0.399769,URINE,1.0,...,1,8,1,4,5,1,1,1.0,0.0,0.0
61531,299999,129161,1,2117-08-31 09:33:11,2117-09-01 16:42:00,carevue,NaN,NaN,NaN,NaN,...,0,0,1,3,2,3,2,1.0,0.0,1.0

In [28]:
# construct dictionary that maps the icustay to the relative time
icu_to_suspected_time = dict()

for i in range(sepsis_df.shape[0]):
    icustay_id = sepsis_df.iloc[i]['icustay_id']
    rel_time = sepsis_df.iloc[i]['suspected_rel_ini_time']
    if pd.isna(rel_time):
        continue

    icu_to_suspected_time[icustay_id] = rel_time

In [33]:
x_df = pd.read_csv('../data/my-in-hospital-mortality/test/%s' % thefile)
x_df.columns

Index(['Hours', 'Albumin', 'Bicarbonate', 'Bilirubin', 'Blood urea nitrogen',
       'Capillary refill rate', 'Chloride', 'Cholesterol', 'Creatinine',
       'Diastolic blood pressure', 'Fraction inspired oxygen',
       'Glascow coma scale total', 'Glucose', 'Heart Rate', 'Height',
       'Mean blood pressure', 'Oxygen saturation',
       'Partial pressure of oxygen', 'Phosphate', 'Platelets', 'Potassium',
       'Red blood cell count', 'Respiratory rate', 'Sodium',
       'Systolic blood pressure', 'Temperature', 'Troponin-T', 'Urine output',
       'Weight', 'White blood cell count', 'pH'],
      dtype='object')

In [45]:
thefile = '2115_episode1_timeseries.csv'
x_df = pd.read_csv('../data/my-in-hospital-mortality2/test/%s' % thefile)

x_df['Respiratory rate'].describe()

count    138.000000
mean      14.717391
std        9.156378
min        0.000000
25%       12.000000
50%       15.500000
75%       16.000000
max      100.000000
Name: Respiratory rate, dtype: float64

In [30]:
thefile = '2115_episode1_timeseries.csv'
starttime = -15
endtime = 24

x_df = pd.read_csv('../data/my-in-hospital-mortality/test/%s' % thefile)
for i in range(x_df.shape[0]):
    if x_df.iloc[i]['Hours'] < starttime or x_df.iloc[i]['Hours'] > endtime:
        continue
    
    # TODO: calculate sofa score. But seems extremely comlicated!

,Hours,Albumin,Bicarbonate,Bilirubin,Blood urea nitrogen,Capillary refill rate,Chloride,Cholesterol,Creatinine,Diastolic blood pressure,...,Red blood cell count,Respiratory rate,Sodium,Systolic blood pressure,Temperature,Troponin-T,Urine output,Weight,White blood cell count,pH
0,1.141111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,140.0,NaN,NaN,NaN,NaN,NaN,NaN,7.46
1,3.691111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,135.0,NaN,NaN,NaN,NaN,NaN,NaN,7.51
2,4.341111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.50
3,5.307778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.30
4,5.824444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.36
5,7.591111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,14.0,NaN,125.0,34.700001,NaN,NaN,NaN,NaN,NaN
6,7.674444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,14.0,NaN,127.0,34.599999,NaN,160.0,NaN,NaN,NaN
7,7.907778,NaN,24.0,NaN,15.0,NaN,113.0,NaN,0.5,NaN,...,3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN
8,7.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,...,NaN,14.0,NaN,116.0,34.800000,NaN,NaN,NaN,NaN,NaN
9,8.157778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,141.0,NaN,NaN,NaN,NaN,NaN,NaN,7.39
10,8.174444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,14.0,NaN,125.0,35.100000,NaN,NaN,NaN,NaN,NaN
11,8.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,...,NaN,14.0,NaN,130.0,35.400002,NaN,120.0,NaN,NaN,NaN
12,8.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75.0,...,NaN,14.0,NaN,115.0,36.100002,NaN,NaN,NaN,NaN,NaN
13,9.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,...,NaN,16.0,NaN,104.0,36.700001,NaN,300.0,NaN,NaN,NaN
14,10.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,16.0,NaN,92.0,37.099999,NaN,140.0,NaN,NaN,NaN
15,10.674444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50.0,...,NaN,14.0,NaN,87.0,37.300000,NaN,NaN,NaN,NaN,NaN
16,10.857778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,10.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,...,NaN,16.0,NaN,88.0,37.300000,NaN,NaN,NaN,NaN,NaN
18,11.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,...,NaN,14.0,NaN,108.0,37.400002,NaN,100.0,NaN,NaN,NaN
19,11.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,16.0,NaN,92.0,37.800001,NaN,NaN,NaN,NaN,7.39
20,12.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,...,NaN,17.0,NaN,90.0,37.900002,NaN,140.0,NaN,NaN,NaN
21,12.674444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,...,NaN,15.0,NaN,94.0,37.800001,NaN,NaN,NaN,NaN,NaN
22,13.024444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.6,NaN
23,13.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,17.0,NaN,92.0,38.000001,NaN,100.0,NaN,NaN,NaN
24,13.457778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.41
25,13.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,17.0,NaN,96.0,37.900002,NaN,NaN,NaN,NaN,NaN
26,14.091111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,14.174444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,14.0,NaN,98.0,37.800001,NaN,NaN,NaN,NaN,NaN
28,14.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0,...,NaN,19.0,NaN,96.0,37.900002,NaN,60.0,NaN,NaN,NaN
29,15.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,...,NaN,15.0,NaN,95.0,38.000001,NaN,80.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,33.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,...,NaN,11.0,NaN,105.0,37.800001,NaN,25.0,NaN,NaN,NaN
68,34.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.0,...,NaN,18.0,NaN,111.0,37.600000,NaN,45.0,NaN,NaN,NaN
69,35.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,...,NaN,25.0,NaN,107.0,37.500000,NaN,45.0,NaN,NaN,NaN
70,36.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,...,NaN,28.0,NaN,114.0,37.600000,NaN,50.0,NaN,NaN,NaN
71,37.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,...,NaN,26.0,NaN,102.0,37.200001,NaN,70.0,NaN,NaN,NaN
72,38.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,...,NaN,12.0,NaN,108.0,37.300000,NaN,80.0,NaN,NaN,NaN
73,39.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,...,NaN,21.0,NaN,112.0,37.099999,NaN,25.0,NaN,NaN,NaN
74,40.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,...,NaN,24.0,NaN,108.0,36.900002,NaN,55.0,NaN,NaN,NaN
75,40.841111,NaN,25.0,NaN,21.0,NaN,112.0,NaN,0.5,NaN,...,2.84,NaN,141.0,NaN,NaN,NaN,NaN,NaN,12.8,NaN
76,41.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,...,NaN,15.0,NaN,115.0,36.900002,NaN,40.0,NaN,NaN,NaN
77,41.924444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,...,NaN,20.0,NaN,122.0,NaN,NaN,NaN,NaN,NaN,NaN
78,42.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,...,NaN,22.0,NaN,123.0,NaN,NaN,NaN,92.099998,NaN,NaN
79,43.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,18.0,NaN,114.0,NaN,NaN,45.0,NaN,NaN,NaN
80,44.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61.0,...,NaN,21.0,NaN,105.0,NaN,NaN,NaN,NaN,NaN,NaN
81,44.674444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,...,NaN,24.0,NaN,104.0,NaN,NaN,NaN,NaN,NaN,NaN
82,44.757778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,...,NaN,23.0,NaN,96.0,NaN,NaN,NaN,NaN,NaN,NaN
83,44.841111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,31.0,NaN,99.0,NaN,NaN,NaN,NaN,NaN,NaN
84,45.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,...,NaN,31.0,NaN,100.0,36.799999,NaN,100.0,NaN,NaN,NaN
85,46.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,...,NaN,24.0,NaN,102.0,NaN,NaN,80.0,NaN,NaN,NaN
86,47.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63.0,...,NaN,24.0,NaN,100.0,NaN,NaN,70.0,NaN,NaN,NaN
87,48.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,...,NaN,25.0,NaN,103.0,NaN,NaN,50.0,NaN,NaN,NaN
88,49.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,...,NaN,24.0,NaN,107.0,36.666698,NaN,170.0,NaN,NaN,NaN
89,50.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,...,NaN,18.0,NaN,90.0,NaN,NaN,230.0,NaN,NaN,NaN
90,51.424444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,NaN,NaN,NaN
91,69.174444,NaN,29.0,NaN,18.0,NaN,105.0,NaN,0.5,NaN,...,2.20,NaN,139.0,NaN,NaN,NaN,NaN,NaN,7.3,NaN
92,72.507778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1,NaN
93,80.591111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.9,NaN
94,92.007778,NaN,35.0,NaN,12.0,NaN,103.0,NaN,0.5,NaN,...,2.62,NaN,142.0,NaN,NaN,NaN,NaN,NaN,7.8,NaN
95,116.341111,NaN,NaN,NaN,10.0,NaN,NaN,NaN,0.5,NaN,...,2.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,7.00
96,140.674444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.2,NaN

In [ ]:
sepsis_arr = []
sepsis_time_arr = []

for i in range(test_list_df.shape[0]):
    icustay_id = test_list_df.iloc[i]['icustay']
    if icustay_id not in icu_to_suspected_time:
        sepsis_arr.append(None)
        sepsis_time_arr.append(None)
    
    rel_time = icu_to_suspected_time[icustay_id]
    start_time = rel_time - 48 # 48 hours before
    end_time = rel_time + 24 # 24 hours after
    
    find_first_sofa_time(test_list_df.iloc[i]['filename'], start_time, end_time)

In [25]:
test_list_df = pd.read_csv('../data/my-in-hospital-mortality/test/listfile.csv')
test_list_df

,icustay,filename,mortality,mortality_hours,intime,deathtime
0,200009,29904_episode1_timeseries.csv,0,NaN,2189-11-30 10:34:32,NaN
1,200025,19167_episode1_timeseries.csv,0,NaN,2113-08-25 09:29:12,NaN
2,200047,26135_episode1_timeseries.csv,0,NaN,2190-01-30 21:47:36,NaN
3,200050,78716_episode2_timeseries.csv,0,NaN,2149-07-14 17:51:18,NaN
4,200063,99052_episode1_timeseries.csv,0,NaN,2141-03-09 23:20:49,NaN
5,200077,2530_episode2_timeseries.csv,0,NaN,2163-04-08 17:36:00,NaN
6,200098,73499_episode1_timeseries.csv,0,NaN,2136-03-27 11:50:32,NaN
7,200130,12411_episode2_timeseries.csv,0,NaN,2184-07-09 02:57:00,NaN
8,200140,27874_episode1_timeseries.csv,0,NaN,2197-01-18 05:39:31,NaN
9,200161,30173_episode1_timeseries.csv,0,NaN,2142-03-09 17:26:35,NaN
10,200197,27480_episode1_timeseries.csv,0,NaN,2177-09-06 03:14:23,NaN
11,200225,43320_episode1_timeseries.csv,0,NaN,2127-09-13 14:12:37,NaN
12,200257,4282_episode1_timeseries.csv,0,NaN,2116-03-31 02:10:00,NaN
13,200261,6428_episode3_timeseries.csv,0,NaN,2116-11-09 06:43:01,NaN
14,200262,59485_episode1_timeseries.csv,0,NaN,2115-01-30 00:36:43,NaN
15,200313,92063_episode1_timeseries.csv,0,NaN,2123-11-17 14:34:51,NaN
16,200346,42809_episode1_timeseries.csv,0,NaN,2118-12-05 16:16:24,NaN
17,200361,20905_episode1_timeseries.csv,0,NaN,2160-10-15 10:31:30,NaN
18,200381,24568_episode1_timeseries.csv,0,NaN,2163-04-22 22:15:00,NaN
19,200391,15312_episode1_timeseries.csv,0,NaN,2144-02-25 09:30:03,NaN
20,200402,56652_episode1_timeseries.csv,0,NaN,2169-10-02 16:53:43,NaN
21,200403,18837_episode1_timeseries.csv,0,NaN,2177-06-26 01:03:59,NaN
22,200410,27476_episode1_timeseries.csv,0,NaN,2147-06-21 05:12:59,NaN
23,200426,19931_episode1_timeseries.csv,0,NaN,2183-08-21 15:15:00,NaN
24,200428,24666_episode1_timeseries.csv,0,NaN,2171-10-25 10:38:11,NaN
25,200446,7918_episode1_timeseries.csv,0,NaN,2152-10-18 02:33:17,NaN
26,200457,6428_episode5_timeseries.csv,0,NaN,2119-11-03 15:29:48,NaN
27,200459,18223_episode1_timeseries.csv,0,NaN,2124-12-21 12:54:50,NaN
28,200474,2115_episode1_timeseries.csv,1,12.847500,2173-06-22 20:05:09,2173-06-27 08:56:00
29,200486,18756_episode2_timeseries.csv,0,NaN,2147-08-07 06:54:01,NaN
...,...,...,...,...,...,...
6264,299483,8481_episode2_timeseries.csv,1,19.585833,2109-05-16 16:24:51,2109-05-23 12:00:00
6265,299496,89950_episode1_timeseries.csv,0,NaN,2165-10-16 03:41:49,NaN
6266,299502,25445_episode1_timeseries.csv,0,NaN,2189-05-03 15:27:53,NaN
6267,299512,17758_episode2_timeseries.csv,1,18.213333,2117-02-01 17:47:12,2117-02-05 12:00:00
6268,299523,6108_episode1_timeseries.csv,0,NaN,2164-10-10 13:43:39,NaN
6269,299565,2562_episode1_timeseries.csv,0,NaN,2116-05-29 17:10:02,NaN
6270,299579,24331_episode1_timeseries.csv,0,NaN,2156-02-19 11:16:13,NaN
6271,299590,6314_episode1_timeseries.csv,0,NaN,2162-08-12 16:37:00,NaN
6272,299622,22206_episode2_timeseries.csv,0,NaN,2118-08-08 11:01:28,NaN
6273,299626,1616_episode3_timeseries.csv,0,NaN,2124-03-29 14:13:14,NaN
6274,299643,57569_episode1_timeseries.csv,0,NaN,2188-11-21 21:52:03,NaN
6275,299655,91033_episode1_timeseries.csv,1,13.084444,2199-08-14 15:34:56,2199-08-22 04:40:00
6276,299680,25130_episode1_timeseries.csv,0,NaN,2116-02-24 11:05:46,NaN
6277,299707,402_episode4_timeseries.csv,0,NaN,2156-11-11 19:59:05,NaN
6278,299753,4661_episode1_timeseries.csv,0,NaN,2150-11-29 14:18:44,NaN
6279,299769,64999_episode2_timeseries.csv,0,NaN,2185-05-10 10:49:05,NaN
6280,299776,60660_episode1_timeseries.csv,0,NaN,2144-02-29 19:20:12,NaN
6281,299792,21494_episode1_timeseries.csv,0,NaN,2102-04-04 10:53:21,NaN
6282,299794,26392_episode1_timeseries.csv,0,NaN,2129-04-09 16:55:47,NaN
6283,299821,17674_episode1_timeseries.csv,0,NaN,2104-10-09 20:40:00,NaN
6284,299826,45460_episode1_timeseries.csv,0,NaN,2172-02-26 18:28:23,NaN
6285,299865,27170_episode1_timeseries.csv,0,NaN,2153-01-16 09:48:04,NaN
6286,299877,1936_episode2_timeseries.csv,0,NaN,2137-12-06 05:40:02,NaN
6287,299880,66165_episode1_timeseries.csv,0,NaN,2159-06-02 20:04:41,NaN
6288,299888,12026_episode1_timeseries.csv,0,NaN,2128-04-10 06:32:26,NaN
6289,299917,28317_episode1_timeseries.csv,0,NaN,2151-06-28 22:27:19,NaN
6290,299929,68184_episode1_timeseries.csv,0,NaN,2145-01-14 22:33:54,NaN
6291,299931,975_episode1_timeseries.csv,0,NaN,2139-01-12 22:47:16,NaN
6292,299941,22068_episode1_timeseries.csv,0,NaN,2178-09-19 07:30:47,NaN
6293,299951,11850_episode1_timeseries.csv,0,NaN,2193-08-28 18:27:00,NaN